.gift{

  width: 100%;
}
.lunar{

  width: 100%;
}
.SB{

  width: 100%;
}
img{
  margin-left: 0 !important;
}
.carousel-control-prev  :hover {
  border: 2px solid white;
}
.carousel-control-next  :hover {
  border: 2px solid white;
}
